
#pieChart {    
	position:relative;
	top:40%;
	left:10px;
	width:400px;
    height: 400px; 
    display: inline-block;
}


#barChart {
	position:relative;
	top:40%;
    height: 400px;
    display: inline-block;
}

.slice {
   font-size: 12pt;
   font-family: Verdana;
   fill: white;
   font-weight: bold;	
   cursor: pointer;
  		} 
